.saved-news__hero {
    width: 100%;
    max-height: 300px;

    padding: 40px 0 0 104px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    background-color: var(--color-white);
}

.saved-news__eyebrow {
    margin: 0 0 28px 0;

    font-family: var(--font-roboto);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-light-black);
    opacity: 0.5;
}

.saved-news__title {
    margin: 0 0 30px 0;

    max-width: 530px;

    font-family: var(--font-roboto-slab);
    font-size: 40px;
    font-weight: 400;
    line-height: 46px;
    color: var(--color-light-black);
}

.saved-news__keywords {
    margin: 0 0 56px 0;

    font-family: var(--font-roboto);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-light-black);
}