.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 101px;
}

.navigation__link {
    margin: 30px 42px 0 0;
    padding-bottom: 26px;
    font-family: var(--font-roboto);
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: var(--color-grey-3);

    text-decoration: none;
}

.navigation__link_active {
    color: var(--color-white);
    padding-bottom: 23px;
    border-bottom: 3px solid var(--color-white);
}

.navigation__link_inactive {
    color: var(--color-light-black);
    padding-bottom: 26px;

}

.navigation__link_saved-news-active {
    color: var(--color-light-black);
    padding-bottom: 23px;
    border-bottom: 3px solid var(--color-light-black);
}

.navigation__signin {
    margin: 19px 0 13px 0;

    background: transparent;
    border: 1px solid var(--color-white);
    border-radius: 100px;
    padding: 11px 11px;

    cursor: pointer;
}

.navigation__signin:hover {
    opacity: 0.6;
}

.navigation__signin-text {
    color: var(--color-white);
    font-family: var(--font-roboto);
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: var(--color-white);

    text-decoration: none;
    width: 152px;
    height: 24px;
    margin: 0;
}

.navigation__signout {
    min-width: 112px;
    margin: 19px 0 13px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    background: transparent;
    border-radius: 100px;
    padding: 11px 11px;

    cursor: pointer;
}

.navigation__signout_main {
    border: 1px solid var(--color-grey-3);
}

.navigation__signout_main:hover {
    border-color: var(--color-white);
}

.navigation__signout_saved-news {
    border: 1px solid var(--color-grey-1);
}

.navigation__signout_saved-news:hover {
    border-color: var(--color-light-black);
}

.navigation__signout-text {
    font-family: var(--font-roboto);
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;

    text-decoration: none;

    height: 24px;
    margin: 0;
}

.navigation__signout_main-text {
    color: var(--color-white);
}

.navigation__signout_saved-news-text {
    color: var(--color-light-black);
}


.navigation__logout-icon_main {
    color: var(--color-white);
}

@media screen and (max-width: 768px) {
    .navigation {
        margin-right: 40px;
    }

    .navigation__link {
        margin: 22px 16px 0 0;
        padding-bottom: 20px;
        font-size: 16px;
    }

    .navigation__link_active {
        padding-bottom: 17px;
        border-bottom: 3px solid var(--color-white);
    }

    .navigation__link_inactive {
        padding-bottom: 20px;
    }

    .navigation__signin {
        padding: 10px 10px;
    }

    .navigation__signin-text {
        width: 128px;
        font-size: 16px;
    }

    .navigation__link_saved-news-active {
    padding-bottom: 17px;
}

    .navigation__signout {
        padding: 10px 10px;
    }

    .navigation__signout-text {
        font-size: 16px;
    }
}