.header {
    width: 100%;
    height: var(--header-height);
    position: sticky;
    top: 0;
    z-index: var(--z-navbar);

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);

}

.header__logo {
    width: 100%;
    object-fit: contain;

    margin: 30px 0 26px 104px;

    font-family: var(--font-roboto-slab);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: var(--color-white);
}

@media screen and (max-width: 768px) {
    .header {
        height: 66px;
    }

    .header__logo {
        margin: 22px 0 20px 40px;
    }
}

@media screen and (max-width: 480px) {
    .header {
        height: 56px;
    }

    .header__logo {
        margin: 16px 0 16px 16px;

        font-size: 16px;
        line-height: 24px;
    }
}