.news-card-list {
    width: 100%;
    height: 100%;
    max-height: 974px;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-light-grey);
}

.news-card-list__container {
    margin: 78px 0 0 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.news-card-list__title {
    margin: 0 0 64px 0;

    font-family: var(--font-roboto-slab);
    font-size: 40px;
    font-weight: 400;
    line-height: 46px;
    text-align: left;
}

.news-card-list__items  {
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    list-style: none;
}

.news-card-list__item {
    display: flex;
}

.news-card-list__button {
    width: 288px;
    height: 64px;
    padding: 0;
    margin: 64px 0 80px 0;
    
    align-self: center;

    border: none;
    border-radius: 100px;
    background-color: var(--color-white);

    
    font-family: var(--font-roboto);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: var(--color-light-black);
}

.news-card-list__button:hover {
    cursor: pointer;
    background-color: var(--color-light-grey-2);
}

.news-card-list--no-results {
    width: 100%;
    height: 374px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--color-light-grey);
}

.news-card-list__not-found-icon {
    margin: 0 0 32px 0;
}

.news-card-list__not-found-title {
    margin: 0 0 16px 0;

    font-family: var(--font-roboto-slab);
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: var(--color-light-black);
}

.news-card-list__not-found-text {
    margin: 0;
    max-width: 356px;

    font-family: var(--font-roboto);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: var(--color-grey-3);
}